@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
  --font-sora: "Sora", sans-serif;
}

.font-sora {
  font-family: var(--font-sora);
}

.font-inter {
  font-family: var(--font-inter);
}